﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomePage</title>
</head>
<body>
    <div> 
        Welcome to my First MVC View.<br />
        @ViewBag.MyTime
    </div>
</body>
</html>
