﻿@model First_MVC_app.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        Customer name :- @Model.CustomerName <br />
        Customer Code :- @Model.CustomerCode

    </div>
</body>
</html>
