﻿@model First_MVC_app.Models.Customer


@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/jquery-3.2.1.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div> 
                
            @using (@Html.BeginForm("Submit","Customer", FormMethod.Post))
        {
        <i>Customer Name</i> @Html.TextBoxFor(m => m.CustomerName) <br />
            @Html.ValidationMessageFor(x => x.CustomerName)<br />
        <i>Customer Code</i> @Html.TextBoxFor(m => m.CustomerCode) <br />
            @Html.ValidationMessageFor(x => x.CustomerCode)<br />
            <input id="Submit1" type="submit" value="submit" />
        }

            @*Customer Name <input name ="CustomerName" 
                                 type="text" value ="@Model.CustomerName"/> <br />
            @Html.ValidationMessageFor(x => x.CustomerName)<br />
            Customer Code <input name ="CustomerCode" 
                                 type="text" value ="@Model.CustomerCode"/> <br />
            @Html.ValidationMessageFor(x => x.CustomerCode)<br />
            <input id="Submit1" type="submit" value="submit" />*@

        
        <br />
       

    </div>
</body>
</html>
